*{
  margin: 0;
  padding: 0;
  font-family: 'Marmelad', sans-serif;
}
body{
  background-color: rgb(209, 230, 252);
}
header{
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 8px rgb(1, 99, 202);
  background-color: white;
}
.logo-img{
  width: 90px;

}
nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:20px;
}
a{
  color: rgb(8, 99, 255);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  font-size: 23px;
  transition: 0.5s;
  text-shadow: 2px 2px 4px rgb(162, 162, 162);
}
.add-product-block{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input{
  margin: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  border: 2px solid rgb(10, 75, 187);
  color: rgb(8, 99, 255);
  
}
button{
  background-color: rgb(10, 75, 187);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  width: 155px;
  margin: 20px;
  cursor: pointer;
}
h2, h1{
  text-align: center;
  color: rgb(0, 83, 227);
  margin-top: 80px;
  margin-bottom: 20px;
  text-shadow: 3px 3px 5px gray;
}
.table-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  
}
table, th, tr, td{
  border-collapse: collapse;
  border: 2px solid rgb(10, 75, 187);
  color: rgb(8, 99, 255);
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
.stock-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  text-align: center;
  color: rgb(8, 99, 255);
  font-size: 23px;
  margin: 10px;
  
}
b{
  color: rgb(10, 87, 220);
  font-size: 25px;
  font-weight:900;
  text-decoration:underline;
}
.chart-block{
  width: 700px;
  height: 700px;
  margin: 50px;
}

.history-block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(8, 99, 255);
  font-size: 23px;
  margin: 0 50px;
 
}
.search-input{
  display: flex;
  justify-content: end;
  margin: 30px;
}
